.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  position: fixed;
  min-height: 100vh;
  width: 20vw;
  background-color: #99D17B;
}

.sidebar-img {
  height: 3em;
}

.prof-image {
  object-fit: contain;
  height: -webkit-fill-available;
}

.Age-date-section{
  padding-top: 3em;
  font-size: larger;
}
.logo-header {
  font-size: 3.5rem;
  
}

.pocket-section >p {
  padding-top: 1.4em;
  font-size: 1.25em;
}

.next-month {
  padding-top: 15%;
  padding-bottom: 1em;
}

.next-month-btn {
  font-size: x-large;
  padding: 0.75em 1.5em;
  color: #99D17B;
  background-color: white;
  border: white;
  border-radius: 0.4em;
}

.percentage-block {
  display: inline-block;
  vertical-align: top;
  padding: 0 66px;
}

.stocks-img {
  width: 100%;
  height: 50%;
}

.image-block {
  padding-bottom: 2.5%;
}

.card-button {
  margin: 5px;
}

.text-units {
  font-size: x-large;
}

.card-account{
   background-color: #FAF3E9;
   margin-left: 2.2em;
   border: 2em solid #8f452c;
   width: 50em;
   height: 60em;
   margin-right: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.card-body{
 text-align: center;
 padding: 10em 1em;
}

.card-title{
  padding-bottom: 1.5em;
}

.card-text{
  /* position: absolute; */
  width: 863px;
  height: 21px;
  /* left: 434px; */
  top: 494px;
  justify-content: left;
}

.proff-image {
  padding-bottom: 1em;
}

.cash-account-deposit-confirmation {
  display: flex;
  flex-direction: column;
  /* background-color: #FAF3E9; */
}
.gic{
  position: relative;
}
.gis-block {
  display: inline-block;
  vertical-align: top;
  padding: 0 90px;
  font-size: x-large;
}